.vscode/
*.crt
*.key
test-results
node_modules
.secret_git
.output
.idea
.vercel
.netlify
.wrangler
.svelte-kit/
/build
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/paraglide
*storybook.log
.local/*
bun.lock
bun.lockb
bun.lockb.txt
package-lock.json