@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
    body {
        font-family: 'Ubuntu', sans-serif;
    }
}

@theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-primary: #ffdd11;
    --color-secondary: #262626;

    --color-themeYellow-600: #FFE346;
    --color-themeYellow-800: #FFC934;

    --color-themeGray-50: #fcfcfd;
    --color-themeGray-75: #F4F5F94D;
    --color-themeGray-100: #F4F5F9;
    --color-themeGray-150: #E8E9F0;
    --color-themeGray-200: #C4C4C4;
    --color-themeGray-300: #BCC4E0;
    --color-themeGray-400: #808080;
    --color-themeGray-500: #484848;
    --color-themeGray-600: #4C4C4C;
    --color-themeGray-800: #262626;
    
    --color-themeGreen-100: #E0FFE3;
    --color-themeGreen-500: #40B54A;
    --color-themeRed-100: #FFDEDE;
    --color-themeRed-500: #DF3636;
    --color-themeOrange-100: #FFEBCF;
    --color-themeOrange-500: #F39108;
}

/**
 * Theme specifics
 */
@utility theme-gradient-yellow {
    @apply from-themeYellow-800 to-themeYellow-600;
}

@utility theme-gradient-white {
    @apply from-[#EEF0FA]  to-[#FFFFFF];
}

@utility theme-gradient-gray {
    background: radial-gradient(ellipse at center, #EEF0FA 0%, #F8F9FF 100%);
}

@utility theme-text-extra-large {
    @apply text-[2.375rem] md:text-[3.125rem] lg:text-[3.75rem] font-bold;
}

@utility theme-text-h1 {
    @apply text-4xl md:text-5xl lg:text-7xl font-bold;
}

@utility theme-text-h2 {
    @apply text-3xl md:text-4xl lg:text-6xl font-bold;
}

@utility theme-text-h3 {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold;
}

@utility theme-text-h4 {
    @apply text-2xl font-bold;
}

@utility theme-text-h5 {
    @apply text-xl font-bold;
}

@utility theme-text-h6 {
    @apply text-base font-bold;
}

@utility theme-text-body1 {
    @apply text-lg;
}

@utility theme-text-body2 {
    @apply text-sm;
}

@utility theme-button--primary {
    @apply py-2 px-4 rounded-xl rounded-tr-none;
    @apply bg-gradient-to-t theme-gradient-yellow;
    @apply border-b-2 border-[#979FBE8A];
}

@utility theme-floating {
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
}

@utility theme-floating-dropdown {
    position: absolute;
    width: max-content;
    transform: translateX(50%);
    right: 50%;
    left: auto;
    z-index: 50;
}

@layer components {
    .theme-title-underline {
        position: relative;
    }

    .theme-title-underline:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0em; /* adjust to move underline closer/farther */
        height: 0.35em; /* thickness */
        @apply bg-gradient-to-r theme-gradient-yellow;
        z-index: -1;
        border-radius: 2px;
    }
}

.theme-container {
    max-width: 100%;
    width: 100%;
    @apply px-3.5;
    @apply md:px-5;
    @apply lg:max-w-[980px] xl:max-w-[1440px];
    @apply mx-auto;
}

/**
 * Button
 */
.button-reset {
    text-align: inherit;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
