* {
 scrollbar-width: thin;
 scrollbar-color: #999 #bbb;
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.bold {
 font-weight: bold;
}

.link {
 color: #06ff;
 font-weight: bold;
}

.link:hover {
 text-decoration: underline;
}
